  /* https://coolors.co/c9cad9-d1d2f9-a3bcf9-7796cb-576490 */
  /*Sticky footer*/

  .Site {
      /* display: flex; */
      min-height: 100vh;
      flex-direction: column;
      margin: 0px;
      padding: 0px;
  }

  .main-content-section {
      flex: 1;
      min-height: 60vh;
      margin-bottom: 40px;
      margin-top: 10px;
      margin-right: 60px;
      margin-left: 60px;
  }

  body {
    overflow-x:hidden;
    background-color: #A3BCF9;
}

.MuiGrid-spacing-xs-24-28 > .MuiGrid-item-6 {
    margin-right: -5px !important;
}

